.TicketCard__ticket {
    width: 100%;
    padding: 20px;
    background: #ffffff;
    box-sizing: border-box;
    margin: 20px 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.TicketCard___price-logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.TicketCard__ticket--price {
    font-size: 24px;
    text-align: left;
    color: #2196F3;
    margin: 0;
}

.TicketCard___image {
    width: calc(100% /3);
    text-align: left;
}